In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/data_jobs.csv")

# Calculate Projected Salary next year
- Senior roles assume 5%
- Other roless assume 3%

In [6]:
df_new = df[df["salary_year_avg"].notna()].copy()

In [8]:
print(df_new.columns)

Index(['job_title_short', 'job_title', 'job_location', 'job_via',
       'job_schedule_type', 'job_work_from_home', 'search_location',
       'job_posted_date', 'job_no_degree_mention', 'job_health_insurance',
       'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg',
       'company_name', 'job_skills', 'job_type_skills'],
      dtype='object')

In [10]:
df_new["job_title_short"].unique()

array(['Data Scientist', 'Data Engineer', 'Data Analyst',
       'Senior Data Engineer', 'Business Analyst', 'Software Engineer',
       'Senior Data Analyst', 'Machine Learning Engineer',
       'Senior Data Scientist', 'Cloud Engineer'], dtype=object)

In [21]:
def inflated_salary(record):
    if pd.notna(record["salary_year_avg"]):
        if "Senior" in record["job_title_short"]:
            record["salary_year_avg"] = record["salary_year_avg"] * 1.05
            return record
        else:
            record["salary_year_avg"] = record["salary_year_avg"] * 1.03
            return record["salary_year_avg"]
    else:
        return record

df_new["salary_inflated"] = df_new.apply(func=inflated_salary, axis=1)

In [22]:
# def inflated_salary(record):
#     if "Senior" in record["job_title_short"]:
#         record["salary_year_avg"] = record["salary_year_avg"] * 1.05
#         return record
#     else:
#         record["salary_year_avg"] = record["salary_year_avg"] * 1.03
#         return record["salary_year_avg"]
# df_new.apply(func=inflated_salary, axis=1)

In [24]:
df_new[["salary_year_avg", "salary_inflated"]].head()

     salary_year_avg salary_inflated
28          109500.0        112785.0
77          140000.0        144200.0
92          120000.0        123600.0
100         228222.0       235068.66
109          89000.0         91670.0