In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/data_jobs.csv")

In [4]:
df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [8]:
df_filled = df

In [13]:
df_filled["salary_year_avg"] = df_filled["salary_year_avg"].fillna(df_filled["salary_year_avg"].median())
df_filled["salary_hour_avg"] = df_filled["salary_hour_avg"].fillna(df_filled["salary_hour_avg"].median())

In [17]:
df_filled.select_dtypes("float").loc[:5]

   salary_year_avg  salary_hour_avg
0         115000.0            45.98
1         115000.0            45.98
2         115000.0            45.98
3         115000.0            45.98
4         115000.0            45.98
5         115000.0            45.98

In [22]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates()

In [23]:
print ("Length of df_filled : ", len(df_filled))
print ("Length of df_unique : ", len(df_unique))
print ("Rows dropped        : ", (len(df_filled) - len(df_unique)))

Length of df_filled :  785741
Length of df_unique :  785640
Rows dropped        :  101

In [24]:
df_unique.columns

Index(['job_title_short', 'job_title', 'job_location', 'job_via',
       'job_schedule_type', 'job_work_from_home', 'search_location',
       'job_posted_date', 'job_no_degree_mention', 'job_health_insurance',
       'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg',
       'company_name', 'job_skills', 'job_type_skills'],
      dtype='object')

In [26]:
df_unique = df_unique.drop_duplicates(subset=["job_title", "company_name"])
print ("Length of df_filled : ", len(df_filled))
print ("Length of df_unique : ", len(df_unique))
print ("Rows dropped        : ", (len(df_filled) - len(df_unique)))

Length of df_filled :  785741
Length of df_unique :  508042
Rows dropped        :  277699